{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row row-cols-2 row-cols-md-3 mb-3 text-center">
        <div class="row col red align-self-start">
                <div class=" red">
                <img src="{{ asset('build/luxe.png') }}"  width="400" height="300">
                    </div>
                <div class=" red">
                    <img src="{{ asset('build/luxe.png') }}"  width="400" height="300">
                </div>
        </div>
        <div class="col align-self-center">
            <form action="{{ path('security_login')}}"  method="post">
            <h1>Connexion</h1>
                <div class="form-group">
                    <input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input placeholder="Mot de passe ..." required name="_password" type="password" class="form-control">
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-success"> Connexion !</button>
                </div>
            </form>
        
        </div>
        <div class="row col red align-self-end">
                <div class="red">
                <img src="{{ asset('build/moyen.png') }}"  width="400" height="300">
            </div>
                    <div class=" red">
                <img src="{{ asset('build/moyen.png') }}"  width="400" height="300">
            </div>
        </div>
    </div>
{% endblock %}