{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center ">
        <div class="row">
                <div class=" red">
                <img src="{{ asset('build/luxe.png') }}"  width="400" height="300">
            </div>
                    <div class=" red">
                <img src="{{ asset('build/luxe.png') }}"  width="400" height="300">
            </div>
        </div>

        {{ form_start(form)}}
        <h1>Inscription</h1>
        
        {{ form_row(form.username,{'label':'Nom d\'utilisateur','attr':
        {'placeholder':'Nom d\'utilisateur'}}) }}
        {{ form_row(form.nameUser,{'label':'Nom de Famille','attr':
        {'placeholder':'Nom de Famille...'}}) }}
        {{ form_row(form.firstNameUser,{'label':'prenom','attr':
        {'placeholder':'prenom...'}}) }}
        {{ form_row(form.email,{'label':'email','attr':
        {'placeholder':'Entrez votre adresse email...'}}) }}
        {% if is_granted('ROLE_ADMIN') %}
        <div class ='formconfirm'>
            {{ form_row(form.password,{'label':'Mot de passe','attr':
            {'placeholder':'Nouveau mot de passe...'},'value' :'{{passwordRandom}}'}) }}
            {{ form_row(form.confirm_password,{'label':'Corfirmation du mot de passe','attr':
            {'placeholder':'Veuillez confirmer votre mot de passe...'},'value' :'{{passwordRandom}}'})   }}
        </div>
            {% else %}
            {{ form_row(form.password,{'label':'Mot de passe','attr':
            {'placeholder':'Nouveau mot de passe...'}}) }}
            {{ form_row(form.confirm_password,{'label':'Corfirmation du mot de passe','attr':
            {'placeholder':'Veuillez confirmer votre mot de passe...'}})   }}
        {% endif %}
        {{ form_row(form.address,{'label':'adresse','attr':
        {'placeholder':'24 rue de la paix'}}) }}
        {{ form_row(form.zipCode,{'label':'Code Postale','attr':
        {'placeholder': '54360...'}}) }}
        {{ form_row(form.city,{'label':'Ville','attr':
        {'placeholder':'Paris'}}) }}
        {{ form_row(form.numberLicence,{'label':'Nuéro de permis','attr':
        {'placeholder':'911091204209'}}) }}
        {{ form_row(form.phone,{'label':'Numéro de téléphone','attr':
        {'placeholder':'0654987549'}}) }}
        {{ form_row(form.dateLicenseObtained,{'label':'Date d\'obtention du permis'}) }}
        {{ form_row(form.expiryDateLicense,{'label':'date d\'expriration du permis'}) }}

        <button type="submit" class = "btn btn-success">Retour</button>
        <button type="submit" class = "btn btn-success">Inscription</button>
        {{ form_end(form) }}

        <div class="row">
            <div class=" red">
                <img src="{{ asset('build/moyen.png') }}"  width="400" height="300">
            </div>
            <div class=" red">
                <img src="{{ asset('build/moyen.png') }}"  width="400" height="300">
            </div>
        </div>
    </div>
{% endblock %}