{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Création des véhicules{% endblock %}

{% block body %}

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center align-self-center ">

        <div class="row">
                <div class=" red">
                <img src="{{ asset('build/luxe.png') }}"  width="400" height="300">
            </div>
                    <div class=" red">
                <img src="{{ asset('build/luxe.png') }}"  width="400" height="300">
            </div>
        </div>

        {{ form_start(form)}}
        <h1>Creation de véhicule</h1>
        
        {{ form_widget(form) }}
        <button type="submit" class = "btn btn-success">Enregistrer le véhicule</button>
            <a href="{{path('admin_vehicle')}}" class="btn btn warning">Retour a la liste des Véhicules</a>
        {{ form_end(form) }}
         <div class="row">
            <div class=" red">
                <img src="{{ asset('build/moyen.png') }}"  width="400" height="300">
            </div>
            <div class=" red">
                <img src="{{ asset('build/moyen.png') }}"  width="400" height="300">
            </div>
        
    </div>
{% endblock %}