{% extends "base.html.twig" %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Liste des reservation</h1>
    <table class="table">
        <thead>
            <th scope="col">numero de reservation</th>
            <th scope="col">date de debut</th>
            <th scope="col">date de fin</th>
            <th scope="col">assurance prise</th>
            <th scope="col">prix estimé</th>
            <th scope="col">date retour du véhicule</th>
            <th scope="col">km retour</th>
            <th scope="col">prix total</th>
            <th scope="col">vehicule louer</th>
            <th scope="col">identifiant client</th>
            <th scope="col">Nom du client</th>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{reservation.id}}</td>
                    <td>{{reservation.startDate | date('d/m/Y')}}</td>
                    <td>{{reservation.endDate | date('d/m/Y')}}</td>
                    
                    <td>
                        {% if reservation.takenInsurance ==  1 %}
                            OUI
                        {% else %}
                        NON
                        {% endif %} 
                    </td>
                    <td>{{reservation.estimatedPrice}}</td>
                    <td>{{reservation.returnDate | date('d/m/Y')}}</td>
                    <td>{{reservation.kmReturn}}</td>
                    <td>{{reservation.priceReal}}</td>
                    <td>{{reservation.vehicle.brand}} {{reservation.vehicle.model}}</td>
                    <td>{{reservation.user.id}}</td>
                    <td>{{reservation.user.username}}</td>
                </tr>
            {% endfor %}
        </tbody>
                    <td><a href="{{path('admin_vehicle')}}" class="btn btn-warning">Retour</a></td>
    </table>
{% endblock %}