{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <h2>Mettre a jour le kilometrage du véhicule et validez la location</h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class = "btn btn-success">Valider la Location</button>
  <a href="{{path('admin_userList',{'id': reservation.id})}}" class="btn btn warning">Retour a la liste des utilisateurs</a>
  {{ form_end(form) }}
{% endblock %}