{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules à revendre{% endblock %}

{% block body %}
    <h1>Liste des véhicules à revendre</h1>
    <table class="table">
        <thead>
            <th scope="col">modèle</th>
            <th scope="col">marque</th>
            <th scope="col">date d'achat</th>
            <th scope="col">kilometrage</th>
            <th scope="col">carburant</th>
            <th scope="col">plaque d'imatriculation</th>
            <th scope="col">couleur</th>
            <th scope="col">categorie</th>
        </thead>
        <tbody>
            {% for vehicle in resell %}
                <tr>
                    <td>{{vehicle.model}}</td>
                    <td>{{vehicle.brand}}</td>
                    <td>{{vehicle.datePurchase | date('d/m/Y')}}</td>
                    <td>{{vehicle.mileage}}</td>
                    <td>{{vehicle.fuel}}</td>
                    <td>{{vehicle.licensePlate}}</td>
                    <td>{{vehicle.color}}</td>
                    <td>{{vehicle.Category.label}}</td>
                    <td>
                    <form action="" method="post">
                    <button type="submit" class = "btn btn-success form-control">supprimer !</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
            <a href="{{path('admin_vehicle')}}" class="btn btn-warning">Retour a la liste des Véhicules</a>
    </table>
{% endblock %}