{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h2>verifier l'identité du client et modifier ses coordonnée si nécessaire</h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class = "btn btn-success">client validé !</button>
  <a href="{{path('admin_userList',{'id': reservation.id})}}" class="btn btn warning">Retour a la liste des utilisateurs</a>
  {{ form_end(form) }}
{% endblock %}