{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="container-fluid red">
   {% if app.user %}
        <h1>Réservez votre véhicule</h1>
        <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            
        {% endif %}
          {{ form_start( formReservation,{'action': path('confirm_reserve')},{'attr': {'id': 'confirm_form'}} ) }}
          <div class="row align-items-center">
            <div class="row col FormReserve">
               <div class=" col">
                {{ form_row(formReservation.categorie,{'label':'choix categorie'}) }}
              </div>
              <div class=" col ">
                  {{ form_row(formReservation.vehicle,{'label':'choix vehicule*'}) }}  
              </div>
              <div class=" col">
                {{ form_row(formReservation.startDate,{'label':'Date de départ'}) }}
              </div>
              <div class="col">
                {{ form_row(formReservation.endDate,{'label':'Date Retour'}) }}
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                  {{ form_row(formReservation.takenInsurance,{'label':'Voulez vous prendre l\'assurance'}) }}
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <button type="submit" class="btn btn-success"> Reserver !</button>
              </div>
                <p>Un choix de véhicule selon la catégorie choisie vous sera proposé en agence</p>
                <p>le tarif week-end est automatiquement prise en compte pour une periode comprise du vendredi 16h au Dimanche 19h</p>
            </div>
            <div class="col">
                <img src="{{ asset('build/eco.png') }}" width="400" height="300" >
            </div>
          </div>
            {{ form_end(formReservation) }}
        </div>
        {% else %}
        <div class="container-fluid red">
          <h1>Vous devez vous connecter pour créer une reservation</h1>
        </div>
        {% endif %}

    </div>
    <div class="alert alert-primary" role="alert">
      promotion : 10% de réduction pour 3 jour de location.
    </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for category in categories %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{category.label}}</h4>
            </div>
            <div class="card-body">
            <img src="{{ asset('build/eco.png') }}" width="300" height="200" >
              <h1 class="card-title pricing-card-title">{{category.priceday}}€<small class="text-muted fw-light">/jour</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{category.priceWeekEnd}}€ en Week-end</li>
                <li>{{category.priceInsurance}}€ d'assurance</li>
                <li>{{category.guarantee}}€ de caution</li>
              </ul>
            </div>
          </div>
        </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
