{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1>Formulaire de retour véhicule</h1>
  {{ form_start(form) }}
    <div class=" col formconfirm">
      {{ form_row(form.startDate)}}
    </div>
    <div class=" col formconfirm">
      {{ form_row(form.endDate)}}
    </div>
    <div class=" col formconfirm">
      {{ form_row(form.takenInsurance)}}
    </div>
    <div class=" col formconfirm">
      {{ form_row(form.estimatedPrice)}}
    </div>
    <div class=" col ">
      {{ form_row(form.returnDate)}}
    </div>
    <div class=" col ">
      {{ form_row(form.kmReturn)}}
    </div>
    <div class=" col formconfirm">
      {{ form_row(form.vehicle)}}
    </div>
    <div class=" col ">
      {{ form_row(form.fuel)}}
    </div>
    <div class=" col formconfirm">
      {{ form_row(form.user)}}
    </div>
    <button type="submit" class = "btn btn-success">conclure la location</button>
    <a href="{{path('admin_userList')}}" class="btn btn warning">Retour a la liste des utilisateurs</a>
  {{ form_end(form) }}
{% endblock %}