{% extends 'base.html.twig' %}

{% block title %}Liste des utilsateurs{% endblock %}

{% block body %}
    <h1>Liste des utilsateurs</h1>
    <table class="table">
        <thead>
            <th scope="col">identifiant</th>
            <th scope="col">Nom Utilisateur</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">adresse</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Ville</th>
            <th scope="col">N° de téléphone</th>
            <th scope="col">Numéro de permis</th>
            <th scope="col">Date d'optention</th>
            <th scope="col">date peremption</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.nameUser}}</td>
                    <td>{{user.firstNameUser}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.zipCode}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.numberLicence}}</td>
                    <td>{{user.dateLicenseObtained | date('d/m/Y')}}</td>
                    <td>{{user.expiryDateLicense | date('d/m/Y')}}</td>
                    <td>
                   <a href="{{path('admin_reservation_admin',{'id': user.id})}}">creer réservation</a>
                    </td>
                    <td>
                   <a href="{{path('admin_userReversation',{'id': user.id})}}">voir les reservations</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
                    <td><a href="{{path('locauto')}}" class="btn btn-warning">retour</a></td>
    </table>
{% endblock %}