{% extends "base.html.twig" %}

{% block title %}reservations client{% endblock %}

{% block body %}
    <h1>Liste des reservation du client</h1>
    <table class="table">
        <thead>
            <th scope="col">numero de reservation</th>
            <th scope="col">date de debut</th>
            <th scope="col">date de fin</th>
            <th scope="col">assurance prise</th>
            <th scope="col">prix estimé</th>
            <th scope="col">date retour du véhicule</th>
            <th scope="col">km retour</th>
            <th scope="col">prix total</th>
            <th scope="col">identifiant client</th>
            <th scope="col">Nom du client</th>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{reservation.id}}</td>
                    <td>{{reservation.startDate | date('d/m/Y')}}</td>
                    <td>{{reservation.endDate | date('d/m/Y')}}</td>
                    
                    <td>
                        {% if reservation.takenInsurance ==  1 %}
                            OUI
                        {% else %}
                        NON
                        {% endif %} 
                    </td>
                    <td>{{reservation.estimatedPrice}}</td>
                    {% if reservation.returnDate %}
                    <td>{{reservation.returnDate | date('d/m/Y')}}</td>
                    {% else %}
                    <td>{{reservation.returnDate}}</td>
                    {% endif %}
                    <td>{{reservation.kmReturn}}</td>
                    <td>{{reservation.priceReal}}</td>
                    <td>{{reservation.user.id}}</td>
                    <td>{{reservation.user.username}}</td>
                   {% if not reservation.kmReturn %}
                        {% if reservation.vehicle.rent == false %}
                            <td>
                            <a href="{{path('admin_confirmLoc',{'id': reservation.id})}}">confirmer location</a>
                            </td>
                            <td>
                            confirmer la location !
                            </td>
                            {% else %}
                            <td>
                                confirmé !
                            <td>
                                <a href="{{path('admin_userReversationEdit',{'id': reservation.id})}}">conclure location</a>
                            </td>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
                    <td><a href="{{path('admin_userList')}}" class="btn btn-warning">Retour</a></td>
    </table>
{% endblock %}