{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules{% endblock %}

{% block body %}
    <h1>Liste des véhicules</h1>
    <table class="table">
        <thead>
            <th scope="col">modèle</th>
            <th scope="col">marque</th>
            <th scope="col">date d'achat</th>
            <th scope="col">kilometrage</th>
            <th scope="col">carburant</th>
            <th scope="col">plaque d'imatriculation</th>
            <th scope="col">couleur</th>
            <th scope="col">categorie</th>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td>{{vehicle.model}}</td>
                    <td>{{vehicle.brand}}</td>
                    <td>{{vehicle.datePurchase | date('d/m/Y')}}</td>
                    <td>{{vehicle.mileage}}</td>
                    <td>{{vehicle.fuel}}</td>
                    <td>{{vehicle.licensePlate}}</td>
                    <td>{{vehicle.color}}</td>
                    <td>{{vehicle.Category.label}}</td>
                    <td>
                   <a href="{{path('admin_planning',{'id': vehicle.id})}}">voir les reservations</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
                    <td><a href="{{path('admin_creat_vehicle')}}" class="btn btn-warning">Créer un véhicule</a></td>
                    <td><a href="{{path('admin_resell_vehicle')}}" class="btn btn-warning">voir les vehicules de plus de deux ans</a></td>
    </table>
{% endblock %}