.body{
    background-color: yellow;
}
.red{
    background-color: red;
    text-align: center;
}
.navbar-brand{
    color: red;
    font-size: 3em;
}
.nav-link{
    text-align: right;
}
.card-body{
    background-color: red;
}
.FormReserve{
    background-color: black;
    color: white;
}
.formconfirm{
    display: none;
}
@import "~bootstrap/scss/bootstrap";