<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
             <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>

        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="{{ asset('build/logo.png') }}" width="80" height="80" >
            <div class="container-fluid">
                <a class="navbar-brand col fs-1" href="{{path('locauto')}}">Locauto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if not app.user %}
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('security_registration')}}" >inscription</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link" href="{{path('security_login')}}">
                                    Connexion
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a  class="nav-link" href="{{path('security_logout')}}">
                                    Déconnexion
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('security_registration')}}" >nouveau client</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('admin_vehicle')}}">Vehicules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('admin_creat_vehicle')}}">créer un véhicules</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{{path('admin_resell_vehicle')}}">véhicule à vendre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('admin_userList')}}">Liste utilsateur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('admin_reservation_progress')}}">reservation en cours</a>
                        </li>  
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
        <div class="container-fluid body">
            {% block body %}

            {% endblock %}
        </div>
      
    </body>

    <footer>
    <div class="container-fluid row FormReserve">
        <div class="col">
            <p>LOCAUTO
            235 rue des Grands Platanes <br>
            54000 NANCY <br>
            Tél : 03 83 55 22 22 <br>
            RCS Nancy B 666 666 666 <br>
            SIRET : 37783966701999 <br>
            Code NAF : 7711A</p>
        </div>
        <div class="col">
            <a href="">nos agence</a>  <br>
            <a href="">condition de vente</a>  <br>
            <a href="">faq</a>  <br>
            <a href="">condition d'utilisation</a>  <br>
            <a href="https://www.privacypolicies.com/live/6c3ed38c-4e1e-41fc-82f8-52a2b4cb71ee">politique de confidentialité</a>  <br>
        </div>
        <div class="col">
            <img src="{{ asset('build/volkswagen.jpg') }}" width="150" height="100" >
        </div>
        <div class="col">
            <img src="{{ asset('build/Mazda.png') }}" width="150" height="100" >
        </div>
        <div class="col">
            <img src="{{ asset('build/bmw.jpg') }}" width="150" height="100" >
        </div>
    </div>
    </footer>
    
</html>
