{% extends 'base.html.twig' %}

{% block body %}
<div class ="row">
    <div class="col red"></div>
    <div class="container col">
        {{ form_start(formReservation,{'attr': {'id': 'confirm_form'}}) }}
    <div class="formconfirm">
         {{ form_row(formReservation.categorie,{'label':'choix categorie'}) }}
          {{ form_row(formReservation.vehicle,{'label':'choix vehicule'}) }}
           {{ form_row(formReservation.startDate,{'label':'Date de départ'}) }}
            {{ form_row(formReservation.endDate,{'label':'Date Retour'}) }}
         {{ form_row(formReservation.takenInsurance,{'label':'Voulez vous prendre l\'assurance'}) }}
    
    </div>

        <h1>le montant total de la reservation est de : {{estimatedPrice}}€</h1>
        <p>hors kilometrage</p>
        <h2>Remise promotionnel : {{ remise }}€</h2>
        <h2>Une caution de {{Guarantee}}€ vous sera demandé lors de la reception du vehicule !</h2>
        <h2>un email vous sera envoyé lors de la confirmation de votre reservation avec le recapitulatif de votr commande</h2>
        <h2>Confirmez-vous votre reservation ?</h2>
            <button type="submit" class="btn btn-success" name ="return">Retour</button>
            <button type="submit" class="btn btn-success" name ="confirm">Confirmer</button>
        {{ form_end(formReservation) }}
    </div>
    <div class="col red"></div>
</div>
{% endblock %}