{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="container-fluid red">
   {% if app.user %}
        <h1>Réservez votre véhicule</h1>
        <div class="container">{% if is_granted('ROLE_ADMIN') %}
          {{ form_start( formReservation,{'attr': {'id': 'confirm_form'}} ) }}
          {% else %}
          {{ form_start( formReservation,{'action': path('confirm_reserve')},{'attr': {'id': 'confirm_form'}} ) }}
        {% endif %}
          <div class="row align-items-center">
            <div class="row col FormReserve">
               <div class=" col">
                {{ form_row(formReservation.categorie,{'label':'choix categorie'}) }}
              </div>
              {% if is_granted('ROLE_ADMIN') %}
                <div class=" col ">
                    {{ form_row(formReservation.vehicle,{'label':'choix vehicule*'}) }}  
                </div>
              {% endif %}
              <div class=" col formconfirm ">
                  {{ form_row(formReservation.vehicle,{'label':'choix vehicule*'}) }}  
              </div>
              <div class=" col">
                {{ form_row(formReservation.startDate,{'label':'Date de départ'}) }}
              </div>
              <div class="col">
                {{ form_row(formReservation.endDate,{'label':'Date Retour'}) }}
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                  {{ form_row(formReservation.takenInsurance,{'label':'Voulez vous prendre l\'assurance'}) }}
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <button type="submit" class="btn btn-success"> Reserver !</button>
              </div>
                <p>Un choix de véhicule selon la catégorie choisie vous sera proposé en agence</p>
                <p>le tarif week-end est automatiquement prise en compte pour une periode comprise du vendredi 16h au Dimanche 19h</p>
            </div>
            <div class="col">
                <img src="{{ asset('build/eco.png') }}" width="400" height="300" >
            </div>
          </div>
            {{ form_end(formReservation) }}
        </div>
        {% else %}
        <div class="container-fluid red">
          <h1>Vous devez vous connecter pour créer une reservation</h1>
        </div>
        {% endif %}

    </div>
    <div class="alert alert-primary" role="alert">
      promotion : 10% de réduction pour 3 jour de location.
    </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for category in categories %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{category.label}}</h4>
            </div>
            <div class="card-body">
            <img src="{{ asset('build/eco.png') }}" width="300" height="200" >
              <h1 class="card-title pricing-card-title">{{category.priceday}}€<small class="text-muted fw-light">/jour</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{category.priceWeekEnd}}€ en Week-end</li>
                <li>{{category.priceInsurance}}€ d'assurance</li>
                <li>{{category.guarantee}}€ de caution</li>
              </ul>
            </div>
          </div>
        </div>
  {% endfor %}
  </div>
  <h1 class="titleWeather">Meteo de la semaine à {{city.name}}</h1>

<div class="row">
    <div>
    <div class="row row-cols-12 row-cols-md-12 mb-12 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"> {{today}}: {{forecasts[0].tmin}}°C/{{forecasts[0].tmax}}°C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>precipitation max {{forecasts[0].rr1}}</li>
              <li>precipitation min {{forecasts[0].rr10}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title">{{tomorrow}}: {{forecasts[1].tmin}}°C/{{forecasts[1].tmax}}°C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>precipitation max {{forecasts[1].rr1}}</li>
              <li>precipitation min {{forecasts[1].rr10}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title">{{afterTomorrow}}: {{forecasts[2].tmin}}°C/{{forecasts[2].tmax}}°C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>precipitation max {{forecasts[2].rr1}}</li>
              <li>precipitation min {{forecasts[2].rr10}}</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title">{{day4}}: {{forecasts[3].tmin}}°C/{{forecasts[3].tmax}}°C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>precipitation max {{forecasts[3].rr1}}</li>
              <li>precipitation min {{forecasts[3].rr10}}</li>
            </ul>
          </div>
        </div>
      </div>   <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title">{{day5}}: {{forecasts[4].tmin}}°C/{{forecasts[4].tmax}}°C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>precipitation max {{forecasts[4].rr1}}</li>
              <li>precipitation min {{forecasts[4].rr10}}</li>
            </ul>
          </div>
        </div>
      </div>   <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title">{{day6}}: {{forecasts[5].tmin}}°C/{{forecasts[5].tmax}}°C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>precipitation max {{forecasts[5].rr1}}</li>
              <li>precipitation min {{forecasts[5].rr10}}</li>
            </ul>
          </div>
        </div>
      </div>   <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title">{{day7}}: {{forecasts[6].tmin}}°C/{{forecasts[6].tmax}}°C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>precipitation max {{forecasts[6].rr1}}</li>
              <li>precipitation min {{forecasts[6].rr10}}</li>
            </ul>
          </div>
        </div>
      </div>
</div>

<div class="container">

<form action="" method="post">
    <h2>Vous pouvez entrer une nouvelle adresse !</h2>
        <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Adresse</label>
  <input type="text" name="adresse" class="form-control" id="exampleFormControlInput1" placeholder="1 rue place de la république">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">code postal</label>
  <input type="text"  name="cp" class="form-control" id="exampleFormControlInput1" placeholder="54000">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1"  class="form-label">ville</label>
  <input type="text" name="ville" class="form-control" id="exampleFormControlInput1" placeholder="Nancy">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" name="pays" class="form-label">pays</label>
  <input type="text" name="pays" class="form-control" id="exampleFormControlInput1" placeholder="France">
</div>
<input type="submit" name="envoyer" value="envoyer">
        </form>
</div>
</div>
{% endblock %}
