{% block body %}
<h1>facture de la reservation</h1>
<p>Numéro réservation: {{reservation.id}}</p>
<p>date de départ: {{reservation.startDate | date('d/m/Y')}}</p>
<p>date retour: {{reservation.returnDate | date('d/m/Y')}}</p>
<p>kilometrage retour: {{reservation.kmReturn | date('d/m/Y')}}</p>
<p>Montant: {{reservation.priceReal}} euros <br>
</p>
{% endblock %}