{% block body %}
<h1>récapitulatif de la reservation</h1>
<p>Numéro réservation: {{reservation.id}}</p>
<p>date de départ: {{reservation.startDate | date('d/m/Y')}}</p>
<p>date retour: {{reservation.endDate | date('d/m/Y')}}</p>
<p>remise:{{remise}} euros</p>
<p>Montant: {{reservation.estimatedPrice}} euros <br>
hors cour du kilometrage.
</p>
{% endblock %}